@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  /* updates in +layout.svelte */
  --scrollbar-width: 0px;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

/* Prevent body scrolling when menu is open */
body:has(.show-menu.overflowing) {
  overflow: hidden;
  padding-right: var(--scrollbar-width);
}

body:has(.show-menu.overflowing) #toggle_menu {
  right: var(--scrollbar-width);
}
